<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='github_logo.svg') }}" type="image/x-icon">
    <title>Connexion à GitHub • StartProject</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body style="display: flex; flex-direction: column; align-items: center; background-color: #0D1117; color: #f0f0f0; font-family: Arial, sans-serif; display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0;">
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: space-around; text-align: center; background: #161B22; border-radius: 10px; border: solid 1px rgb(51, 51, 51); padding: 30px 20px; height: 300px; width: 300px;">
        <div style="display: flex; align-items: center; flex-direction: column; justify-content: space-evenly;">
            <div style="display: flex;flex-direction: row; align-items: center; justify-content: center;">
                <div style="width: 100px; height: 100px; margin-bottom: 20px;"><img src="{{ url_for('static', filename='github_logo.svg') }}" alt="logo"></div>
                <div style="padding: 0 15px 0 15px;"><svg width="30" height="30.6666" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 1L4 4M4 4L1 7M4 4L7 7M4 4L1 1" stroke="#A71212" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg></div>
                <div style="width: 100px; height: 100px; margin-bottom: 20px;"><img src="{{ url_for('static', filename='logo.svg') }}" alt="logo"></div>
            </div>
            <div style="font-size: 24px; font-weight: 300; letter-spacing: -0.5px;">Une erreur est survenue</div>
        </div>
        <form action="/exit" method="post">
            <button id="boutonClique" style="background-color: #238636; color: #f0f0f0; border: none; padding: 10px 20px; border-radius: 5px; font-size: 16px; cursor: pointer;">Quitter la page</button>  
        </form>
    </div>

    <!-- <script>
        $("#boutonClique").on("click", function() {
            $.ajax({
                type: "POST",
                url: "/bouton",
                success: function(response) {
                    console.log("Le bouton a été cliqué !");
                    window.location.href = "https://xen0r-star.github.io/StartProject/";
                },
                error: function() {
                    console.log("Erreur lors de la requête au serveur Flask.");
                }
            });
        });
    </script> -->
</body>