<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='github_logo.svg') }}" type="image/x-icon">
    <title>Connexion à GitHub • StartProject</title>
</head>

<body style="display: flex; flex-direction: column; align-items: center; background-color: #0D1117; color: #f0f0f0; font-family: Arial, sans-serif; display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0;">
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: space-around; text-align: center; background: #161B22; border-radius: 10px; border: solid 1px rgb(51, 51, 51); padding: 30px 20px; height: 300px; width: 300px;">
        <div style="display: flex; align-items: center; flex-direction: column; justify-content: space-evenly;">
            <div style="display: flex;flex-direction: row; align-items: center; justify-content: center;">
                <div style="width: 100px; height: 100px; margin-bottom: 20px;"><img src="{{ url_for('static', filename='github_logo.svg') }}" alt="logo"></div>
                <div style="padding: 0 15px 0 15px;"><svg width="30" height="36.6666" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 21L17 16M17 16L1 16M17 16L12 11" stroke="#ABAFD1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M6 11L1 6M1 6L17 6M1 6L6 1" stroke="#ABAFD1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg></div>
                <div style="width: 100px; height: 100px; margin-bottom: 20px;"><img src="{{ url_for('static', filename='logo.svg') }}" alt="logo"></div>
            </div>
            <div style="font-size: 24px; font-weight: 300; letter-spacing: -0.5px;">Se connecter à GitHub</div>
        </div>
        {% include 'login_button.html' %}
        </div>
    <divn style="display: flex; flex-direction: column; align-items: center; justify-content: space-around; text-align: center; background: #161B22; border-radius: 10px; border: solid 1px rgb(51, 51, 51); padding: 10px 20px; width: 300px; margin-top: 30px;">
        <p>Nouveau sur GitHub ? <a href="https://github.com/signup?source=login" style="color: #2F81F7; text-decoration: none;" target="_blank">Créer un compte</a></p>
    </div>
</body>