<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='github_logo.svg') }}" type="image/x-icon">
    <title>Connexion réussie • StartProject</title>
</head>

<body style="display: flex; flex-direction: column; align-items: center; background-color: #0D1117; color: #f0f0f0; font-family: Arial, sans-serif; display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0;">
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: space-around; text-align: center; background: #161B22; border-radius: 10px; border: solid 1px rgb(51, 51, 51); padding: 30px 20px; height: 300px; width: 300px;">
        <div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
            <div style="width: 100px; height: 100px; margin-bottom: 20px;"><img src="{{ url_for('static', filename='github_logo.svg') }}" alt="logo"></div>
            <div style="padding: 0 15px 0 15px;"><svg width="30" height="30.6666" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.20711 1.70711C9.59763 1.31658 9.59763 0.683418 9.20711 0.292893C8.81658 -0.0976311 8.18342 -0.0976311 7.79289 0.292893L3.5 4.58579L1.70711 2.79289C1.31658 2.40237 0.683418 2.40237 0.292893 2.79289C-0.0976311 3.18342 -0.0976311 3.81658 0.292893 4.20711L2.79289 6.70711C3.18342 7.09763 3.81658 7.09763 4.20711 6.70711L9.20711 1.70711Z" fill="#05A815" /></svg></div>
            <div style="width: 100px; height: 100px; margin-bottom: 20px;"><img src="{{ url_for('static', filename='logo.svg') }}" alt="logo"></div>
        </div>
        <div style="font-size: 24px; font-weight: 300; letter-spacing: -0.5px;">Connecté avec succès !</div>
        <form action="/open_app" method="post">
            <button  type="submit" style="background-color: #238636; color: #f0f0f0; border: none; padding: 10px 20px; border-radius: 5px; font-size: 16px; cursor: pointer;"><a style="color: #f0f0f0; text-decoration: none;">Retournez a l'application</a></button>
        </form>
    </div>
</body>